body {
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    background-color: #09e1e194;
}
input[type="number"] {
    padding: 5px;
    width: 100px;
}
button {
    padding: 8px 15px;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;

    cursor: pointer;
}